// ==============================
// Custom style
// 自定义样式
// ==============================

// 标题 文章、标签、分类
.archive .single-title{
    margin-top: 1em;
}

//刷新图片会缩小 see https://github.com/dillonzq/LoveIt/issues/311
img[data-sizes="auto"] {
    display: block;
    width: 100%;
}
