// ==============================
// Custom style
// 自定义样式
// ==============================

// 标题 文章、标签、分类
.archive .single-title{
    margin-top: 1em;
}

//刷新图片会缩小 see https://github.com/dillonzq/LoveIt/issues/311
img[data-sizes="auto"] {
    display: block;
    width: 100%;
}

//作者名称字体太大了
.post-author{
    float: left;
}
.single .post-meta .author{
    font-size: inherit;
}
//h1太大，手机端折行
h1{
    font-size: 1.5em;
}
